@import 'tailwindcss';

@theme {
  --font-avenir: 'Montserrat', 'sans-serif';
  --font-display--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --font-display--font-variation-settings: 'opsz' 32;
}
